@media print {
    body * {
      visibility: hidden;
    }
    #printKuisioner, #printKuisioner * {
      visibility: visible;
    }
    #printKuisioner {
      position: absolute;
      left: 0;
      top: 0;
    }
  }